body,
html, 
.body {
  background-color: $body-background;
  background: $body-background;
}

// HEADER
.top-header {
  background-color: #13161a;
  background: #13161a;
  .top-headerRow {
    max-width: 600px; 
    background-color: #13161a; 
    margin: 0 auto;
  }
  .top-headerLogo {
    width: 136px !important;
    float: left;
    text-align: left;
  }
  .top-headerNav {
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: nowrap;
  }
  .top-headerLink {
    span {
      font-size: 16px;
      width: 60px;
      margin: 0 auto;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.bottom-header {
  background-color: #7155C7;
  h1 {
    color: #fff;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 600;
  }
}

// AUDIO DYNAMICS
.description {
  background: #fff;
  background-color: #fff;
  th {
    padding-left: 28px;
    padding-right: 28px;
  }
  th.expander {
    padding: 0px;
  }
  h2 {
    font-weight: 600;
    margin: 0px;
  }
  p {
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
  }
  a {
    display: inline-block;
    background: #000;
    background-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 40px;
  }
  span {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
}

// UTILITIES
.vertical-alignMiddle {
  vertical-align: middle;
}

// MEDIA QUERIES
@media only screen and (max-width: 600px) {
  .top-header {
    .top-headerLogo {
      float: none;
      margin: 0 auto;
    }
  }
}