<row class="top-header">
  <columns>
    <row class="top-headerRow">
      <columns>
        <a class="top-headerLogo" href="#">
          <img
          src="https://ci3.googleusercontent.com/proxy/e4nbWFjudcXhkDbzYq7ITfACcyx6-JHm9g-lqhL9Ly8Lt7zlsg6eJnk_rMq2lB1pTArbcHFGihd9gkfiUa-2I7sWCs4JGUy-BFEMwiukXY1tjEx5hLQFQDvlPe5QsQF7RDCeVt2k5WyanjM=s0-d-e1-ft#https://www.izotope.com/content/dam/acs/izotope/brand-logos/izotope-logo-email-white.png"
          alt="Izotope Logo"
        />
        </a>
      </columns>
      <columns></columns>
      <columns class="top-headerNav vertical-alignMiddle">
        <row>
          <columns class="top-headerLink" small="4" large="4">
            <span class="text-center">
              <a href="#">Learn</a>
            </span>
          </columns>
          <columns class="top-headerLink" small="4" large="4">
            <span class="text-center">
              <a href="#">Account</a>
            </span>
          </columns>
          <columns class="top-headerLink" small="4" large="4">
            <span class="text-center">
              <a href="#">Deals</a>
            </span>
          </columns>
        </row>
      </columns>
    </row>
  </columns>
</row>
<row class="bottom-header">
  <columns small="12" large="12">
    <h1 class="text-center">Learn Something New This Week</h1>
  </columns>
</row>
